@import url(variable.css);

main {
    width: 100%;
    flex-direction: column;
    padding: 50px 0px;
}

.div70 {
    width: 70%;
    flex-direction: column;
    margin: auto;
}



td,
th {
    padding: 20px 10px;
    color: white;
    text-align: center;
}

.tableau {
    width: 70%;
    overflow-x: auto;
}

tr td:first-child,tr th:first-child {
    width: 190px;
}

tr td:first-child {
    text-align: left;
}

table {
    width: 100%;
    min-width: 1000px;
    border-collapse: collapse;
    border-radius: 30px;
    border-radius: 5px;
    padding: 20px;
    font-size: 1.2rem;
    background: var(--fond-grisatre);
    table-layout: fixed;
    
}

.valide {
    color: green;
}

.faux {
    color: #FF3A3A;
}

#iptJoueur {
    width: 80%;
}
.proposition {
    padding: 15px;
    width: 70%;
    gap: 15px;
}

.resultat button, .indice button, 
.popup button{ 
    width: 20%;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    
}

tbody tr {
    border-top: 2px solid black
}

.desac {
    display: none !important;
}


.indice {
    width: 60%;
    text-align: center;
}

.indice button {
    margin: 8px;
    border: 1px solid var(--fond-bouton-desac);
}

.resultat {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    background: var(--fond-grisatre);
    padding: 10px;
    margin-bottom: 20px;
}

.resultat button {
    width: 200px;
    height: 50px;
    font-size: 17px;
    background: var(--fond-bouton-actif);
    color: white;
    border: none;
}


.resultat button:hover {
    cursor: pointer;
}

.resultat a {
    position: relative;
    width: 250px;
    height: 350px;
    box-shadow: 5px 5px var(--fond-bouton-actif);

}

.resultat a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.resultat a:hover .image-hover {
    display: flex;
}

h2 {
    margin-top: 5px;
}

.score p {
    margin-top: 5px;
    font-size: 18px;
    color: white;
}




.zoneIndice {
    width: 70%;
    background: var(--fond-noir);
    display: flex;
    justify-content: space-around;
    padding: 1% 0px;
    border-radius: 5px;
    color: white;
}

.review {
    padding: 5px;
    font-size: 18px;
}

.image-indice {
    width: 215px;
    height: 300px;
    overflow: hidden;
}

.image-indice img {
    width: 100%;
    height: 100%;
    filter: invert(1) blur(6px);
    object-fit: contain;
}

.trailer-review {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#youtube-audio iframe {
    width: 0;
    height: 0;
}

#youtube-audio1 {
    text-align: center;
    width: 100%;
}

#youtube-audio1 img {
    cursor: pointer;
}


/* -------------------------------- */



fieldset {
    border: 1px solid white;
    height: 100px;
    overflow-y: auto;
    display: flex;
}

.popupDiv {
    margin-bottom: 20px;
}

fieldset div div {
    display: flex;
    margin-right: 10px;
    margin-bottom: 5px;
}

input[type=checkbox] {
    margin-right: 10px;
}


#startBtn {
    min-width: 250px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1500px){
    .tableau {
        width: 80%;
    }
}

@media screen and (max-width: 1300px){
    .tableau {
        width: 90%;
    }
}

@media screen and (max-width: 1100px){
    .tableau {
        width: 98%;
    }
}

@media screen and (max-width: 1000px){
    .div70 {
        width: 90%;
        align-items: center;
    }

    .tableau {
        width: 95%;
    }
    table {
        font-size: 1rem;
    }

    .indice {
        display: flex;
        width: 100%;
    }
    
    .indice button {
        width: 140px;
    }

    .proposition {
        flex-direction: column;
        width: 80%;
        align-items: center;
    }

    #iptJoueur {
        width: 100%;
    }

    .proposition button {
        width: 50%;
    }

    .zoneIndice {
        width: 100%;
        flex-direction: column;
    }

    .image-indice {
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .trailer-review {
        width: 90%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    #youtube-audio1 {
        margin-bottom: 5px;
    }

    .resultat {
        width: 90%;
        flex-direction: column;
    }

    .resultat button {
        margin-top: 20px;
    }

    .popup {
        width: 90%;
    }
}