form {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 25px;
    width: 357px;
}

form input, form button, #skip {
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgb(61, 61, 61);
    background: var(--fond-grisatre);
    color: white;
    padding: 5px;
    text-align: center;
    outline: none;
}

form input {
    width: 65%;
}

form button, #skip {
    width: 25%;
    height: 54px;
    border: 2px solid rgb(81, 81, 81);
    background: rgb(61, 61, 61);
}

form button:hover {
    cursor: pointer;
    background: rgb(101, 101, 101);;
}

form input:focus {
    border: 2px solid rgb(101, 101, 101);
}

#skip {
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
    width: 150px;
}

.ui-autocomplete {
    float: left;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    text-align: left;
    background-color: var(--fond-noir);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 4px 4px;
    max-height: 150px;
    overflow-y: auto;
    scrollbar-color: #d9d9d9 var(--fond-noir);
}
  
.ui-autocomplete > li > div {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: white;
    white-space: nowrap;
}
  
.ui-state-hover,
.ui-state-active,
.ui-state-focus {
    text-decoration: none;
    background-color: #333333;
    cursor: pointer;
}
  
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


