.faux {
    background-color: #FF3A3A;
}

.valide {
    background-color: green;
}

.vie {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    margin: 25px auto;

}

.vie img {
    width: 32px;
    height: 32px;
}

.tableau {
    margin-top: 35px;
    width: 100%;
    max-width: 1250px;
    z-index: 1;
}

.tableau table {
    width: 100%;
    border-collapse: collapse;
}


th, td {
    background-color: #5fdcee;
    color: black;
    padding: 10px 0px;
    text-align: center;
    border: 1px solid black;
    height: 50px;
    width: 200px;
}

td {
    font-size: 18px;
    font-weight: bold;
    height: 70px;
    /* border-radius: 10px; */
}

.perso {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fleche {
    filter: brightness(0);
}

.fade-in {
    animation: fade-in 0.5s ease-in-out backwards;
}


.fade-in-2 {
    animation-delay: 0.20s;
}
.fade-in-3 {
    animation-delay: 0.4s;
}
.fade-in-4 {
    animation-delay: 0.6s;
}
.fade-in-5 {
    animation-delay: 0.8s;
}
.fade-in-6 {
    animation-delay: 1s;
}
.fade-in-7 {
    animation-delay: 1.2s;
}
.fade-in-8 {
    animation-delay: 1.4s;
}
.fade-in-9 {
    animation-delay: 1.6s;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        /* transform: rotateY(360deg); */
        opacity: 1;
    }
}